body {
    background-color: #3c33be;
    justify-content: center;
    display: flex;
}


/* Headings */

.box {
    box-sizing: content-box;
    background-color: blanchedalmond;
    box-shadow: 10px 10px 100px grey inset;
    height: 400px;
    width: 800px;
    padding: 5px;
    
    
}

.box h1 {
    padding-bottom: 40px;
    padding-top: 0px;
    text-align: center;
    color: #3c33be;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    
    }

.box h3 {
    color: #3c33be;
    font-size: 1.5rem;
    padding-bottom: 10px;

}


.input {
    padding: 30px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 100px;
    border: none;
    border: 3px solid #3c33be;
    outline: none;
    font-size: 22px;
    justify-content: center;
    align-content: center;
    
    
    
    
}

input::placeholder{
    font-size: 23px;
} 

    
    



/* #password {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	display: block;
	width: 100%;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 85px;
	font-size: 1.2rem;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px dashed #c0c7cf;
	border-radius: 6px;
	resize: none;
	overflow: hidden;
} */