/* 
password must be between 8-32 characters with 
password options: options should be uppercase, numbers, spec characters
form must have selectable options: dropdown box for password length, checkbox for uppercase, numbers, spec characters
maybe have checkboxes in grid form to save space
letterbox for results: font (Ariel)
"generate" clickable button
no pop-ups(alerts)

Select generate password button
give them a copy button */

body {
    background-color: #3c33be;
    justify-content: center;
    display: flex;
    
}
/* form */
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
    box-shadow: 10px 10px 100px grey inset;
    height: 500px;
    width: 700px;
    padding: 5px;
   
    margin-top: 60px;
    
}

.box h1 {
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    color: #3c33be;
    font-family: 'Muli', sans-serif;
    font-size: 40px;
        
}
/* results section, fonts */
.input {
    padding: 30px;
    user-select: none;
    height: 50px;
    width: 450px;
    border-radius: 100px;
    border: none;
    border: 3px solid #3c33be;
    background-color: blanchedalmond;
    outline: none;
    font-size: 30px;
    text-align: center;
    color: #3c33be;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    margin-top: 5px;
    box-shadow: 10px 10px 50px grey inset;
}
input::placeholder {
    font-size: 30px;
    text-align: center;
} 
/* generate button */
.button {
    padding: 20px;
    font-family: 'Muli', sans-serif;
    font-size: large;
    color: blanchedalmond;
    background-color: #4a41be;
    border-radius: 50px;
    border: thick double blanchedalmond;
    margin: 15px;
    width: 250px;
    cursor: pointer;
    
    
}
.button:hover {
    background-color: blanchedalmond;
    color: #3c33be;
    border: 2px solid;
    box-shadow: 5px 5px 25px grey inset;
    border-color: #3c33be;
}
.label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: large;
    color: #3c33be;
}
/* checkboxes */
.chkbox {
    display: inline-block;
    justify-content: end;
    margin: 20px;

}